* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #003c93;
    border-bottom: 1px solid #cecece;

    & #cabecalho {
        width: 100%;
        display: flex;
        justify-content: space-between;

        & #titulo {
            padding: 8px;
        }

        & #menuLateral {
            width: 60px;
            height: 60px;
            border: none;
            cursor: pointer;
            background-color: white;

            & #imgMenu {
                width: 30px;
                height: 30px;
            }
        }

        &  #menuLateral:hover{
            opacity: 0.5;
        }


       
        & #direita{
            width: 60px;
            height: 60px;
        }
    }   
}

nav {
    padding-bottom: 13px;
}


.texto-mobile {
    display: none;
}


.menu {
    & li {
        display: inline-flex;
        gap: 30px;

        & a {
            text-decoration: none;
            color: #003c93;
        }
    }

}

main{
    display:inline-flex;
    width: 100%;
    background: white;
}

.sidebar{
    display: none;
}

.barraLateral{
    display: flex;
    flex-direction: column;
    width: 18%;
    background: linear-gradient(180deg, #0f299b 0%, rgb(0, 119, 255) 100%);

    & .barElement{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: none;
        color: white;
        border-bottom: 2px solid white;
      
    }
    
    & .barElement:hover{
        opacity: 0.8;
        cursor: pointer;
    }
}

#conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
    
}

.painel_um {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 70%;
}

.um {
    background-color: #003c93;
    color: white;
    border-radius: 8px;
    padding: 7px 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    p {
        font-size: 13px;
    }
    h3 {
        font-size: 20px;
    }
}
#saldo {
    padding: 7px 180px 7px 20px;
}

#familia {
    padding: 7px 180px 7px 20px;
}

#oracoes {
    display: grid;
    place-items: center;
    position: relative;
}

#atalho {
    font-size: 10px;
    position: absolute;
    top: 2px;
    right: 5px;
}

.um:hover {
    opacity: 0.9;
    cursor: pointer;
}

.painel_dois {
    background-color: #2196f3;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 70%;
}

.painel_dois:hover {
    opacity: 0.9;
    cursor: pointer;
}

.painel_tres {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 70%;

}

.dois {
    background-color: #2196f3;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    & #conteudoUltima {
        display: none;
    }

    & #conteudoProxima {
        display: none;
    }
}



footer {
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #003c93;
    border-top: 1px solid #cecece;
}

.botao {
    padding-top: 6px;
    width: 20px;
    height: 20px;
    background-color: #2196f3;
    border: none;
    cursor: pointer;
}

.seta {
    width: 20px;
    height: 20px;
}

.tres {
    display: flex;
    justify-content: space-between;
}

.linha {
    padding-top: 15px;
    border-top: 1px solid #ffffff;
}

.destaque {

    & .tres {
        margin-bottom: 20px;
    }

    & #conteudoUltima {
        display: block;
    }


    & #conteudoProxima {
        display: block;
    }

}


@media (max-width: 768px) {
    .sidebar{
    display: none;
}

.barraLateral{
    display: flex;
    flex-direction: column;
    width: 60%;
    background: linear-gradient(180deg, #0f299b 0%, rgb(0, 119, 255) 100%);

    .barElement{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: none;
        color: white;
        border-bottom: 2px solid white;
      
    }
    
    & .barElement:hover{
        opacity: 0.8;
        cursor: pointer;
    }

}
    .texto-desktop {
        display: none;
    }

    .texto-mobile {
        display: block;

    }

    nav {
        font-size: 70%;
    }

    .painel_um {
        flex-direction: column;
        gap: 20px;
    }

    .um {
        background-color: #003c93;
        text-align: center;
    }

}

