* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #003c93;
    border-bottom: 3px solid #003c93;
}

.menu {
    & li {
        display: inline-flex;
        gap: 30px;

        & a {
            text-decoration: none;
            color: #003c93;
        }
    }

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.painel_um {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 58%;
}

.um {
    background-color: #003c93;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.painel_dois {
    background-color: #2196f3;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 58%;
}

.painel_tres {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 58%;

}

.dois {
    background-color: #2196f3;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #003c93;
    border-top: 3px solid #003c93;
}
