 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #003c93;
    border-bottom: 3px solid #0064B6;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.header-superior {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 32px;
}

.header-superior > ul {
    display: inline-flex;
    list-style-type: none;
    gap: 10px;
    align-items: center;
}

.header-superior img {
    width: 30px;
    height: 30px;
}

#perfil {
    width: 60px;
    height: 30px;
}

.header-superior button{
    border: 0;
    background-color: white;
    padding: 8px;
}

.header-superior a:hover {
    opacity: 0.5;
    cursor: pointer;
}

.header-superior button:hover{
    opacity: 0.5;
    cursor: pointer;
}

/* ------------Ínicio Menu flutuante------------ */
#menu-perfil {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 240px;
    height: 230px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    z-index: 1000;
    padding: 0px 20px 20px 20px;

    /*escondendo*/
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

/* Menu aberto */
#menu-perfil.ativo {
    /*mostrando*/
    display: grid;
    opacity: 1;
    visibility: visible;
}

/* Botão fechar */
#fechar-menu {
    text-align: right;
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 20px;
}

#menu-perfil button:hover{
    opacity: 0.5;
    cursor: pointer;
}

/* Lista do menu */
#menu-perfil ul {
    list-style: none;
    padding: 0px;
}

#menu-perfil li {
    text-align: right;
    margin-bottom: 12px;
    padding-right: 4px;
}

#menu-perfil a {
    text-decoration: none;
    color: #003c93;
    font-weight: 500;
}

/* ------------Fim Menu flutuante------------ */

#botaoMenuLateral {
    width: 60px;
    height: 60px;
    border: none;
    background-color: white;
}



.texto-mobile {
    display: none;
}

.menu {
    display: inline-flex;
    gap: 30px;
    padding: 20px;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #0064B6;
}

.menu a:hover {
    text-decoration: underline;
    filter: brightness(1.2);
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0px;
    /* Começa fechado */
    position: fixed;
    /* Fixa na tela */
    z-index: 1000;
    /* Sobrepõe tudo */
    top: 0;
    left: 0;
    background-color: #0064B6;
    overflow-x: hidden;
    transition: 0.5s;
    /* Animação suave ao abrir */
    padding-top: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.barElement{
    color: white;
    
    padding: 10px 20px 20px 47px;
    text-decoration: none;
}

.barElement:hover{
    opacity: 0.8;
    cursor: pointer;
}

.closebtn{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 10px 20px 20px 47px;
    font-size:xx-large;
    
}

.closebtn:hover{
    opacity: 0.8;
}

main {
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
}

main > ul {
    display: inline-flex;
    gap: 50px;
    list-style-type: none;
    padding: 60px 0px 10px 0px;
}

main > ul > li > button{
    cursor: pointer;
    color: #0064B6;
    width: 180px;
    padding: 5px 5px;
    background-color: white;
    border-radius: 100px;
    border: 2px solid #0064B6;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: 
        background-color 0.3s ease,
        color 0.3s ease,
        border 0.3s ease;
}

main > ul > li > button.active{
    cursor: pointer;
    color: white;
    padding: 5px 5px;
    background-color: #0064B6;
    border-radius: 100px;
    border: 2px solid #0064B6;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.aba-conteudo {
    display: none;
}

.aba-conteudo.aba-aberta {
    display: block;
}

footer {
    display: flex;
    padding: 20px;
    justify-content: center;
    background-color: #003c93;
    color: white;

}

@media (max-width: 600px) {
    .texto-desktop { display: none; }
    .texto-mobile { display: block; }

    .menu{
        font-size: 70%;
    }
}