* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #003c93;
    border-bottom: 3px solid #0064B6;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.header-superior {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 32px;
}

.header-superior > ul {
    display: inline-flex;
    list-style-type: none;
    gap: 10px;
    align-items: center;
}

.header-superior img {
    width: 30px;
    height: 30px;
}

#perfil {
    width: 60px;
    height: 30px;
}

.header-superior button{
    border: 0;
    background-color: white;
    padding: 8px;
}

.header-superior a:hover {
    opacity: 0.5;
    cursor: pointer;
}

.header-superior button:hover{
    opacity: 0.5;
    cursor: pointer;
}

/* ------------Ínicio Menu flutuante------------ */
#menu-perfil {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 240px;
    height: 230px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    z-index: 1000;
    padding: 0px 20px 20px 20px;

    /*escondendo*/
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

/* Menu aberto */
#menu-perfil.ativo {
    /*mostrando*/
    display: grid;
    opacity: 1;
    visibility: visible;
}

/* Botão fechar */
#fechar-menu {
    text-align: right;
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 20px;
}

#menu-perfil button:hover{
    opacity: 0.5;
    cursor: pointer;
}

/* Lista do menu */
#menu-perfil ul {
    list-style: none;
    padding: 0px;
}

#menu-perfil li {
    text-align: right;
    margin-bottom: 12px;
    padding-right: 4px;
}

#menu-perfil a {
    text-decoration: none;
    color: #003c93;
    font-weight: 500;
}

/* ------------Fim Menu flutuante------------ */

#botaoMenuLateral {
    width: 60px;
    height: 60px;
    border: none;
    background-color: white;
}



.texto-mobile {
    display: none;
}

.menu {
    display: inline-flex;
    gap: 30px;
    padding: 20px;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #0064B6;
}

.menu a:hover {
    text-decoration: underline;
    filter: brightness(1.2);
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0px;
    /* Começa fechado */
    position: fixed;
    /* Fixa na tela */
    z-index: 1000;
    /* Sobrepõe tudo */
    top: 0;
    left: 0;
    background-color: #0064B6;
    overflow-x: hidden;
    transition: 0.5s;
    /* Animação suave ao abrir */
    padding-top: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.barElement{
    color: white;
    
    padding: 10px 20px 20px 47px;
    text-decoration: none;
}

.barElement:hover{
    opacity: 0.8;
    cursor: pointer;
}

.closebtn{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 10px 20px 20px 47px;
    font-size:xx-large;
    
}

.closebtn:hover{
    opacity: 0.8;
}

main {
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
}

main > ul {
    display: inline-flex;
    gap: 50px;
    list-style-type: none;
    padding: 60px 0px 10px 0px;
}

main > ul > li > button{
    cursor: pointer;
    color: #0064B6;
    padding: 5px 40px;
    background-color: white;
    border-radius: 100px;
    border: 2px solid #0064B6;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

main > ul > li > button.active{
    cursor: pointer;
    color: white;
    padding: 5px 40px;
    background-color: #0064B6;
    border-radius: 100px;
    border: 2px solid #0064B6;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}


/* apenas a aba aberta aparece */
.aba-conteudo.aba-aberta {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease;
}

footer {
    display: flex;
    padding: 20px;
    justify-content: center;
    background-color: #003c93;
    color: white;

}

@media (max-width: 600px) {
    .texto-desktop { display: none; }
    .texto-mobile { display: block; }

    .menu{
        font-size: 70%;
    }
}

.painelFim {
    display: inline-flex;
    width: 100%;
    min-height: 400px;
}


.itemPainelFim {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: max-content;
    background-color: #2196f3;
    color: white;
    width: 100%;
    padding: 20px;
    margin: 20px;
    border-radius: 16px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25)
}


.botaoAba {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #2196f3;
}

.seta {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.seta-girada {
    transform: rotate(180deg);
}

.aba-conteudo {
    display: none;
    opacity: 0;
}

/* Esta classe será adicionada via JavaScript */
.aba-aberta {

    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 500px; /* Um valor alto o suficiente para caber o texto */
    opacity: 1;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 2px solid rgba(255,255,255,0.3);
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: max-content;
    color: #2196f3;
    padding: 20px;
    margin: 20px;
 text-align: center;
    font-size: 24px;
}
.cadastro-familia {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

#formFamilia {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#formFamilia input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #003c93;
}

.btn-salvar {
    background-color: #003c93;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

#listaFamilias {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.itemPainelFim {
    width: 90% !important;
    max-width: 600px;
    margin-bottom: 15px;
  background-color: #2196f3;
    border-radius: 16px;
}

.conteudoEscala {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: white;
}

.modal {
    position: fixed; 
    z-index: 9999; 
    left: 0; 
    top: 0;
    width: 100%;
     height: 100%; 
     background-color: rgba(0,0,0,0.7);
    display: none;
     align-items: center; 
     justify-content: center;
}
.modal-content {
    background-color: white; 
    padding: 25px;
     border-radius: 15px;
    width: 90%; 
    max-width: 450px; 
    color: #333;
}
    #formFamilia input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;

}
.input-grupo { 
display: flex;
    gap: 8px;
    margin-bottom: 0px;
}
.membroMais {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}


.input-grupo input { 
    flex: 1; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 8px;
    margin-bottom: 0 !important; 
}


.btn-add { 
    background: #2196f3; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    flex-shrink: 0;
}

h2{
    text-align: center;
     color: #003c93; 
     margin-top: 20px;
     font-size: 30px;
}
.close{
    cursor: pointer;
    font-size: 40px;
    border: none;
}
#areaMembros label {
    display: block;
    margin-bottom: 5px;
}
